h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 3rem;
    vertical-align: middle;
    margin-left: 20px;
}

.blog-header-logo:hover {
    text-decoration: none;
}
.subtitulo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 1.5rem;
    font-style: italic;
    text-align: justify;
}
#logo {
    width: 100px;
}
.imgcarousel {
    width: 1000px;
    height: 500px;
}
#divnoticia {
    text-align: center;
}
.imgnoticia{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}
#carouselNoticiasRapidas{
    width: 1000px;
}   
.texto-carousel{
    text-shadow: 0 0 5px #000000;
}
.carousel-caption{
    margin: 0px;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;    
    box-shadow: 0 0 50px #000000;
}
p {
    font-size: 19px;
}